Django==1.4.2
Fabric==1.5.0
Pillow==1.7.8
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.18
celery==3.0.12
django-celery==3.0.11
gunicorn==0.15.0
ipython==0.13.1
kombu==2.4.8
meld3==0.6.9
ordereddict==1.1
paramiko==1.9.0
psycopg2==2.4.5
pycrypto==2.6
python-aalib==0.2
python-dateutil==1.5
pytz==2012h
requests==0.14.2
requests-oauth==0.4.1
superlance==0.7
supervisor==3.0a12
wsgiref==0.1.2
