body {
    background-color: #272822;
    margin: 20px;
    text-align: center;
}

#console {
    border-radius: 10px;
    padding: 20px;
    background-color: #060706;
    color: #00F94F;
    margin: 0px auto;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.1em;
    overflow: hidden;
    max-width: 900px;
    min-width: 280px;
    position: relative;
}

#console .row {
    width: 90%;
    clear: both;
    padding: 0;
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

#console a {
    color: #00F94F;
}

#console a:hover {
    text-shadow: 0 0 0.4em #00F94F, 0 0 0.4em #00F94F, 0 0 0.4em #00F94F;
}

#console .command {
    margin-left: 11px;
    padding: 0;
    line-height: 22px;
}

#console form {
    display: inline;
    margin: 0;
    padding: 0;
}

#console input {
    border: none;
    background-color: transparent;
    margin-left: 10px;
    padding: 0;
    color: #00F94F;
    outline: none;
    width: 90%;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.1em;
}

.photos {
    width: 100%;
    clear: left;
    padding: 0;
}

.loading {
    opacity: 0.5;
}

.photo {
    float: left;
    margin: 5px;
    width: 75px;
    height: 75px;
    border: 2px solid #272822;
    cursor: pointer;
    text-align: center;
    line-height: 75px;
    font-size: 3.5em;
    font-weight: bold;
    color: #272822;
}

.photo:hover {
    border: 2px solid #00F94F;
    color: #00F94F;
}

/* ANSI emulation stuff, plus some responsiveish bullshit. */

.ansi {
    width: 100%;
    clear: both;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
    white-space: pre;
    font-size: 10px;
    position: relative;
    border: 1px solid #00F94F;
}

/* LOGO */

.logo {
    z-index:100;
    height: 80px;
    width: 60px;
    position: absolute;
    top: 5px;
    right: 8px;
    display: block;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
    white-space: pre;
    font-size: 4px;
    text-decoration: none;
}

.logo b, .ansi b {
    font-weight: normal;
}

.logo i, .ansi i {
    color: #272822;
    background-color: #00F94F;
    font-style: normal;
}

.logo s, .ansi s {
    color: #000000;
    background-color: #060706;
    text-decoration: none;
}

@media screen and (max-width: 750px) {
    .ansi {
        font-size: 7px;
    }
}
 
@media screen and (max-width: 540px) {
    .ansi {
        font-size: 5px;

    }
    .embed .ansi {
        font-size: 7px;
    }   
}
 
@media screen and (max-width: 380px) {
    .ansi {
        font-size: 3px;
    }
}

/* sharetools */

.sharetools {
    margin: 0;
    height: 55px;
    width: 100%;
    background-color: #565656;
    opacity: 0.9;
    position: absolute;
    top: 20;
    left: 0;
    z-index: 20;
    display: none;
}

.ansi:hover .sharetools {
    display: block;
}

.sharetools a {
    display: block;
    position: absolute;
    top: 8px;
    text-decoration: none;
    height: 40px;
    width: 40px;
}

.sharetools .fb {
    left: 10px;
}

.sharetools .tw {
    left: 58px;
}

.sharetools .embed {
    left: 105px;
    width: 60px;
}

.sharetools u {
    font-size: 4.5em;
    text-decoration: none;
}

.sharetools .embed u {
    font-size: 4.0em;
    position: absolute;
    top: 3px;
    left: 0;
}

.sharetools .embed .icon-chevron-right {
    left: 30px;
}

/* embed */

body.embed {
    margin: 0;
}

.embed #console {
    padding: 0;
    width: 530px;
    border-radius: 0;
} 

.embed .ansi {
    font-size: 6px;
}

.embed .ansi:hover .sharetools{
    display: none;
}