body {
    background-color: #272822;
    margin: 20px;
    text-align: center;
}

#console {
    border-radius: 10px;
    padding: 20px;
    background-color: #060706;
    color: #00F94F;
    margin: 0px auto;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.1em;
    overflow: hidden;
    max-width: 900px;
    min-width: 280px;
}

#console .row {
    width: 100%;
    clear: left;
    padding: 0;
}

#console .command {
    margin-left: 11px;
    padding: 0;
    line-height: 22px;
}

#console form {
    display: inline;
    margin: 0;
    padding: 0;
}

#console input {
    border: none;
    background-color: transparent;
    margin-left: 10px;
    padding: 0;
    color: #00F94F;
    outline: none;
    width: 90%;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.1em;
}

.photos {
    width: 100%;
    clear: left;
    padding: 0;
}

.loading {
    opacity: 0.5;
}

.photo {
    float: left;
    margin: 5px;
    width: 75px;
    height: 75px;
    border: 2px solid #272822;
    cursor: pointer;
    text-align: center;
    line-height: 75px;
    font-size: 3.5em;
    font-weight: bold;
    color: #272822;
}

.photo:hover {
    border: 2px solid #00F94F;
    color: #00F94F;
}

/* ANSI emulation stuff, plus some responsiveish bullshit. */

#console .ansi {
    width: 100%;
    clear: left;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
    white-space: nowrap;
    font-size: 10px;
}
 
@media screen and (max-width: 750px) {
  #console .ansi {
        font-size: 7px;
  }
}
 
@media screen and (max-width: 540px) {
  #console .ansi {
        font-size: 5px;
  }
}
 
@media screen and (max-width: 380px) {
  #console .ansi {
        font-size: 3px;
  }
}

.ansi .negative {
    color: #272822;
    background-color: #00F94F;
}

.ansi .gray {
    color: #000000;
    background-color: #060706;
}