{% load compress %}<!DOCTYPE html>
<html>
	<head>
		<title>DEHUMANIZER{% if url %} | {{ url }}{% endif %}</title>
    <meta charset="UTF-8"> 
    <link rel="icon" type="image/png" href="/favicon.png">
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome.css" />
    {% endcompress %}
	</head>
	<body>
        <div id="fb-root"></div>
        <script>
          // Additional JS functions here
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '298915313543284', // App ID
              channelUrl : '//hoti.theonion.com/channel.html', // Channel File
              status     : true, // check login status
              cookie     : true, // enable cookies to allow the server to access the session
              xfbml      : false  // parse XFBML
            });

          };

          // Load the SDK Asynchronously
          (function(d){
             var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement('script'); js.id = id; js.async = true;
             js.src = "//connect.facebook.net/en_US/all.js";
             ref.parentNode.insertBefore(js, ref);
           }(document));
        </script>

        <div id="console">
            {% include "logo.html" %}
            <div class="row">WELCOME TO THE DEHUMANIZER (v1.06b3)</div>
            <div class="row">&nbsp;</div>        
            {% for row in message %}
                <div class="row">{{ row|safe }}</div>
            {% endfor %}
            {% if show_command %}
                <div class="row" id="input">><form action="/image"><input type="text" name="url" autocomplete="off" autofocus /></form></div>
            {% else %}
              <div class="row" id="input"></div>
            {% endif %}
            {% if html %}
              {{ html }}
            {% endif %}
        </div>
        {% compress js %}
		    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/keymaster.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
        {% endcompress %}
        {% ifequal status "Pending" %}
        <script type="text/javascript">
          $(document).ready(function() {
            setTimeout(function(){
              process_image('{{ url }}');
            }, 2500);
          });
        </script>
        {% endifequal %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-36173187-1']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
	</body>
</html>