<div class="ansi">
<s>                         </s>
<s>                    </s><i>Q</i>_c<s>  </s>
<s>                   </s>_<i>WW</i>6/<s> </s>
<s>         :</s>syyy<i>MMQQQQW</i>MT<s>= </s>
<s>      </s>yy<i>Q</i>NM<i>Q</i>QM9`<s> j</s>y<i>Q</i>@<s>    </s>
<s>    </s>y<i>0</i>M!y<i>M</i>T!<s>   </s>_y<i>W</i>M<i>Q</i>B<s>    </s>
<s>  </s>.<i>NQ</i>'q<i>W</i>P<s>    j</s>Q<i>#Q</i>\_<i>mQ</i><s>    </s>
<s>  </s>j<i>W</i>L<i>M</i>M<s>     </s>q<i>QW</i>M<s>  </s>j<i>#Q</i><s>    </s>
<s>  </s>Q<i>ZW</i>@<s>     </s><i>MQQ</i>\<s>  </s>_<i>GWQ</i><s>    </s>
<s>  </s>Q<i>mW</i><s>     </s>Q<i>Q</i>M`<s>  j</s><i>MQQQ</i><s>    </s>
<s>  </s>]<i>QW</i><s>    </s>y<i>#</i>M<s>   </s>y<i>MQ</i>t<i>Q</i>@<s>    </s>
<s>   </s>M<i>W</i>r<s>  </s>j<i>#m</i>ggg<i>mQQ</i>Pj<i>W</i>f<s>    </s>
<s>    </s>M<i>m</i>yQ<i>#Q</i>MM<i>XQ</i>MM<s> </s>q<i>WQ</i><s>     </s>
<s>   </s>q<i>QQWWW</i>Q,<s>  </s>_yy<i>MQ</i>M<s>      </s>
<s>   </s>M<i>QQ</i>MM9<i>mW##WWW</i>Mt<s>       </s>
<s>    </s>)t<s>    </s>"9M9'<s>          </s>
</div>